{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>KTU Guide</title>
  <link rel="icon" type="image/x-icon" href="{% static 'ktuguideapp/images/ktuguide icon.png' %}">

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href=" {% static 'ktuguideapp/css/bootstrap.css' %} " />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href=" {% static 'ktuguideapp/css/scheme.css' %} " rel="stylesheet" />
  <!-- responsive style -->
  <link href=" {% static 'ktuguideapp/css/responsive.css' %} " rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href=" {% url 'index' %} ">
            <span>
              KTU GUIDE
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href=" {% url 'index' %} ">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href=" {% url 'scheme2019' %} "> 2019 Scheme</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href=" {% url 'scheme2024' %} "> 2024 Scheme</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>


  <!-- trainer section -->

  <div class="ag-format-container">
    <div class="ag-courses_box">
      {% for item in branches %}
      <div class="ag-courses_item">
        <a href="{% url 'sempage' item.branch_id %}" data-value="{{item.branch_name}}" class="ag-courses-item_link branch-link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            {{item.branch_name}}
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- end trainer section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; 2020 All Rights Reserved. Design by
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </footer>
  <!-- footer section -->

  <script src=" {% static 'ktuguideapp/js/jquery-3.4.1.min.js' %} "></script>
  <script src=" {% static 'ktuguideapp/js/bootstrap.js' %} "></script>

</body>

</html>